.nav
  = link_to "main", "/mobile"
  &gt; 
  = params[:transport_type].gsub('_', ' ')
  routes
.info{:style => "font-weight:bold"}
  = params[:transport_type].gsub('_', ' ')
  routes
.note
  Note: If a route isn't
  in service today, it won't show up at all on this list. Look for it on the list
  tomorrow (or Monday) morning, and chances are that you'll see it. If not, please report the bug.
- if @result.size > 30
  .normal-text
    Jump to number:
    %br/
    - @result.each_with_index do |route,index|
      - if index % 5 == 0 && index != 0
        %a.jump-link{:href => "##{route[:route_short_name]}"}= route[:route_short_name][0,4]
    .note{:style => "clear:left;padding-top:5px;"}
      NOTE: If you don't see your bus route above, jump to a number or letter close to it. You'll probably see the route close by.

- if @result.size == 0
  %br/
  No more trips today
- if params[:transport_type] == :commuter_rail
  .note
    %strong Tip:
    Use
    %a{:href => "http://tleave.com/"} T-Leave
    to calculate schedules between any two stops.

%table.mbta{:style => "margin-top:10px"}
  - @result.each_with_index do |route, index|
    %tr.row-header.stop-name
      %td{:colspan => "3"}
        %a{:name => route[:route_short_name]}
        = route[:route_short_name]
        %span.stop-detail= raw( @result.size > 30 && index > 6 ? "<a style='float:right' href='#top'>top</a>" : nil )
      - route[:headsigns].each do |headsign, trips_left, first_stop|
        %tr
          %td{:colspan => "3"}
            %strong= link_to headsign, "/trips.html?" + URI.escape("transport_type=#{params[:transport_type]}&route_short_name=#{route[:route_short_name]}&headsign=#{headsign.gsub("&", "^")}&first_stop=#{first_stop =~ /realtime/ ? nil : first_stop}")
            - if !first_stop.blank? && first_stop != "+ realtime data"
              %br>/
              from
              %span.trips-left= first_stop
            %br/
            %span.trips-left
              = pluralize(trips_left, "trip")
              left
            - if first_stop == "+ realtime data"
              %br/
              = link_to "realtime data",  "/trips/realtime.html?" + URI.escape("transport_type=#{params[:transport_type]}&route_short_name=#{route[:route_short_name]}&headsign=#{headsign.gsub("&", "^")}&first_stop=#{first_stop =~ /realtime/ ? nil : first_stop}")
            %br/
