<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>OpenMBTA iPhone App</title>
    <% %w{ reset 960 text site }.each do |stylesheet| %>
      <%= stylesheet_link_tag "#{stylesheet}.css" %>
    <% end %>
    <script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
    
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="container_12">
      <div class="grid_9 " id="main">
        <% if flash[:notice] %>
          <div class='flash'>
            <%= flash[:notice] %>
          </div>
        <% end %>
        <%= yield %>
      </div>
      <div class="grid_3 ">
        
        <div class="grid_3">
          <div class="sidebar">
            <h4>Navigation</h4>
            <ul>
              <li><%= link_to "Home", "/" %></li>
              <li><%= link_to "For Android", :controller => "home", :anchor => "android" %></li>
              <li><%= link_to "For iPad", :controller => "home", :anchor => "ipad" %></li>
              <li><%= link_to "For iPhone", :controller => "home", :anchor => "iphone" %></li>
              <li><%= link_to "How To Use", :controller => "home", :anchor => "how-to" %></li>
              <li><%= link_to "Mobile Web Version", :controller => "home", :anchor => "mobile-web" %></li>
              <li><%= link_to "FAQ", :controller => "support" %></li>
              <li><%= link_to "Support & Feedback", :controller => "support" %></li>
              <li><%= link_to "Goals for the next release", :controller => "home", :anchor => "next-release" %></li>
              <li><%= link_to "Source Code on GitHub", "http://github.com/danchoi/openmbta" %></li>
              <li><%= link_to "Google Group for OpenMBTA", "http://groups.google.com/group/openmbta" %></li>
              <li><%= link_to "Credits", :controller => "home", :anchor => "credits" %></li>
            </ul>
          </div>
          <div class="sidebar">
            <h4>Share</h4>

            <p>
            <g:plusone></g:plusone>
            <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fopenmbta.org&amp;layout=button_count&amp;show_faces=false&amp;width=50&amp;action=like&amp;colorscheme=light" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:120px; height:25px; margin-top:6px;"></iframe>


            <a href="http://twitter.com/share"
              class="twitter-share-button"
              data-url="http://openmbta.org"
              data-text="openmbta" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
            </p>
          </div>

          <div class="sidebar">
            <h4>Developer</h4>

            <p>
            OpenMBTA is an open-source project of 
            <%= link_to "Kaja Software", "http://kajasoftware.com/" %>
            </p>

            <%= link_to image_tag("http://www.kajasoftware.com/storage/kaja_vines_logo_sm.png"), "http://kajasoftware.com" %>

          

          </div>
        </div>
      </div>
    </div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-4028996-8");
pageTracker._trackPageview();
} catch(err) {}</script>

  </body>
</html>
