<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>OpenMBTA: free, open source real-time arrival times and schedules for Boston public transit</title>
    <% %w{ reset 960 text site }.each do |stylesheet| %>
      <%= stylesheet_link_tag "#{stylesheet}.css" %>
    <% end %>
    <script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
    
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="container_12">
      <div class="grid_9 " id="main">
        <% if flash[:notice] %>
          <div class='flash'>
            <%= flash[:notice] %>
          </div>
        <% end %>
        <%= yield %>
      </div>
      <div class="grid_3 ">
        
        <div class="grid_3">
          <div class="sidebar">
            <h4>Navigation</h4>
            <ul>
              <li><%= link_to "Home", "/" %></li>
              <li><%= link_to "For Android", :controller => "home", :anchor => "android" %></li>
              <li><%= link_to "For iPad", :controller => "home", :anchor => "ipad" %></li>
              <li><%= link_to "For iPhone", :controller => "home", :anchor => "iphone" %></li>
              <li><%= link_to "For Mobile Web", :controller => "home", :anchor => "mobile-web" %></li>
              <li><%= link_to "Support & Feedback", :controller => "support" %></li>
              <li><a href='/home/faq'>FAQ & Credits</a></li>
            </ul>
          </div>
          <div class="sidebar">
            <h4>Share</h4>

            <p>
            <g:plusone></g:plusone>
            <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fopenmbta.org&amp;layout=button_count&amp;show_faces=false&amp;width=50&amp;action=like&amp;colorscheme=light" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:120px; height:25px; margin-top:6px;"></iframe>


            <a href="http://twitter.com/share"
              class="twitter-share-button"
              data-url="http://openmbta.org"
              data-text="openmbta" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
            </p>
          </div>

          <div class="sidebar">
            <h4>Contact Us</h4>

            <p>
            OpenMBTA is an open-source project led by
            <%= link_to "Kaja Software", "http://kajasoftware.com/" %>
            </p>

            <p>
            <%= link_to image_tag("http://www.kajasoftware.com/storage/kaja_vines_logo_sm.png"), "http://kajasoftware.com" %>
            </p>

            <p>
              email: <a href="mailto:info@kajasoftware.com">info@kajasoftware.com</a>
            </p>
          
            <ul>
              <li><strong>Also by Kaja Software:</strong></li>
              <li><%= link_to "instantwatcher.com", "http://instantwatcher.com" %></li>
              <li><%= link_to "kindlefeeder.com", "http://kindlefeeder.com" %></li>
              <li><%= link_to "vmail", "http://danielchoi.com/software/vmail.html" %></li>
              <li><%= link_to "Hush", "http://lifehacker.com/5821661/hush-automatically-mutes-obnoxious-commercials-on-hulu" %></li>
            </ul> 
            <hr/>

          </div>
        </div>
      </div>
    </div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4028996-10']);
  _gaq.push(['_setDomainName', 'openmbta.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>
